* {
    box-sizing: border-box;
}

html {
    background-color: #1d98ff;
}

body {
    background-color: #fff;
    margin: 0 auto;
    max-width: 50em;
    min-height: 100vh;
    padding: 1em;
}

img#avatar {
    display: block;
    width: 18em;
    margin: 0 auto;
    border-radius: 100%;
    /* border-radius: 6.3em; */
}

h1 {
    text-align: center;
}

div#icon-holder {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.5em;
    text-align: center;
}

div#icon-holder > a {
    color: inherit;
}

#sign {
    margin: .5em;
    border: .1rem solid;
    padding: .1rem;
    box-sizing: content-box;
    border-radius: .5rem;
}

div#title {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

header {
    margin-bottom: 1em;
    margin-top: 1em;
}

p.no-indent {
    text-indent: 0;
}

p:first-child {
    text-indent: 3em;
}

p {
    text-align: justify;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 0.5em;
}

main {
    max-width: 40em;
    margin: 0 auto;
}

div#bio {
    margin-bottom: 1em;
}

div#icon-holder > div.work {
    margin: 0 auto;
    width: fit-content;
}

.social {
    font-size: 0.7em;
}

svg {
    display: inline-block;
    height: 1em;
}

li.article {
    border: 1px solid;
    padding: 0.5em;
    display: inline-block;
    position: relative;
}

li.article > div.icons {
    position: absolute;
    bottom: 0;
    right: 0;
}

#publication-list > li {
    margin-bottom: 2em;
}

#publication-list > li > ul > li {
    margin-bottom: 0.5em;
}

span.article-title {
    font-style: italic;
}

.paper-preview {
    float: left;
    width: 5em;
    height: 7.071em;
    border: 1px solid black;
    margin-right: 1em;
}

.paper-preview.draft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-preview.draft::after {
    display: block;
    color: rgba(0,0,0,0.5);
    content: "DRAFT";
    transform: rotate(-54.74deg) translateY(-0.1em);
    font-size: 1.5em;
}
