* {
    box-sizing: border-box;
}

html {
    background-color: #1d98ff;
}

hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

body {
    background-color: #fff;
    margin: 0 auto;
    max-width: 50em;
    min-height: 100vh;
    padding: 1em;
    font-family: "Segoe UI", Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: #3273dc;
    text-decoration: none;
}

a:not([href]) {
    color: inherit;
}

.title {
    text-align: center;
    font-weight: 600;
    line-height: 1.125;
    color: #363636;
    font-size: 2em;
}

/*Header*/

header#main-header {
    margin-bottom: 1em;
    margin-top: 1em;
}

header#main-header img#avatar {
    display: block;
    height: 18em;
    width: 18em;
    margin: 0 auto;
}

img#avatar {
    border-radius: 100%;
}

#name {
    font-size: 3em;
    margin: 1rem 0 0;
}

p.no-indent {
    text-indent: 0;
}

p:first-child {
    /* text-indent: 3em; */
}

p {
    text-align: justify;
    word-break: break-word;
    margin-bottom: 0.5em;
}

div#bio {
    margin-bottom: 1em;
}

div#bio p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

/*Icons*/

div#icon-holder {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    font-size: 1.5em;
}

a.icon {
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

div#icon-holder > div.social {
    font-size: 0.7em;
}

a.icon > svg {
    display: inline-block;
    height: 1em;
}

/*Publication list*/

ul#publication-list, ul#publication-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#publication-list h3 {
    font-size: 1.25em;
}

li.article {
    border: 1px solid;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "preview desc"
        "preview icons";
    column-gap: 1em;
    align-content: center;
    grid-auto-flow: column;
    justify-content: center;
    margin-bottom: 0.5em;
}

li.article > div.icons {
    grid-area: icons;
    text-align: right;
}

ul#publication-list > li {
    margin-bottom: 2em;
}

.article-title {
    font-style: italic;
}

.article-title::before {
    content: '“';
}
.article-title::after {
    content: '”';
}

.paper-preview {
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 7.071em;
    border: 1px solid black;
}

.paper-preview > * {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-preview > .text {
    color: #888;
    transform: rotate(-54.74deg) translateY(-0.1em);
    font-size: 1.5em;
    overflow-wrap: normal;
}
