:root {
    --sidebar-width: 280px;
}

#sidebar {
    background-color: var(--color-text-bg-accent);
    width: var(--sidebar-width);
    padding: 1em;
    margin-left: calc(-1 * var(--sidebar-width) + (100vw - 100%));
}

#sidebar #avatar {
    width: calc(var(--sidebar-width) - 2em);
    margin: 0 auto;
    display: block;
}

#sidebar h3.title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1328px) {
    body {
        flex-direction: row;
        justify-content: flex-start;
    }

    main {
        max-width: 100%
    }

    #sidebar {
        margin-left: 0;
    }
}

@media screen and (max-width: 1048px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    main {
        width: var(--width-main);
    }

    #sidebar {
        width: 100%;
        max-width: var(--width-main);
        margin-left: 0;
    }

    #sidebar > picture {
        display: none;
    }
}

#sidebar > .title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#sidebar > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar > nav > ul > li > * {
    display: inline-flex;
    align-items: center;
}

#sidebar > nav > ul > li > * > span.icon {
    margin-right: 0.3em;
}