<!DOCTYPE html>
<html lang="en" xmlns:dani="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description"
          content="{description}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{title}">
    <!--    <meta property="og:url" content="https://spectral.space/pubs/{key}.html">-->
    <meta property="og:description"
          content="{description}">
    <!--  <meta property="og:image" content="https://spectral.space/icon/ogimage.jpg">-->


    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">

    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/paper.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
          integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
</head>
<body>
<dani:sidebar>{extra_sidebar}</dani:sidebar>
<main>
    <div id="box-holder">
        <div id="box-header">
            {thumbnail_tag}
            <div class="title-holder">
                <h1 class="title">{title}</h1>
                <span>{authors}</span>
                <span class="links">{links}</span>
            </div>
        </div>
        <div lang="{extra_lang}">
        {extra_content}
        </div>
    </div>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
        integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p"
        crossorigin="anonymous"></script>
<!--suppress JSUnresolvedVariable -->
<script>
    for (const e of document.getElementsByTagName('main')[0].getElementsByClassName('math')) {{
        const is_display = (e.classList[1] === 'display');
        katex.render(e.innerText, e, {{displayMode: is_display}})
    }}
</script>
</html>